@{
  Layout = "_Layout";
}
@using PierreDeux.Models;

<h3>Here are all the orders for @Model["vendor"].Name:</h3>
@if (@Model.Count == 0)
{
  <h3>There are no orders for this vendor yet. Please add one below.</h3>
  <h3><a href='/vendors/@Model.["vendor"].Id/orders/new'>Add this vendor's first order</a></h3>
}
<ol>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title @order.Date</a></li>
}
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<p><a href='/vendors'>Return to vendor list</a></p>
<p><a href='/'>Return to Main Page</a></p>