@{
  Layout = "_Layout";
}

<h3>Customer: @Model["vendor"].Name</h3>
<br>
<h4>@Model["order"].Title</h4>
<h4>@Model["order"].Description</h4>
<h4>$@Model["order"].Price</h4>
<h4>@Model["order"].Date</h4>

<p><a href='/vendors/@Model["vendor"].Id'>Back to vendor page for @Model["vendor"].Name</a></p>

